body {
    background-color: var(--cor-de-fundo);
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: var(--background);
}

.container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a,
.nav li {
    color: var(--cor-primaria);
    list-style: none;
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: var(--tamanho-navbar);
}

.logo {
    display: flex;
    width: 35%;
    object-fit: cover;
}

.video-bg {
    display: flex;
    position: relative;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.imagem-1 {
    display: flex;
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.titulo-01 {
    align-items: center;
    padding: 2%;
    color: var(--cor-primaria);
    width: 80%;
    margin: auto;
    font-family: var(--texto-do-site);
    font-size: var(--tamanho-texto);
}

.conteudo {
    padding: 2%;
}

.texto-01 {
    color: var(--cor-primaria);
    width: 80%;
    margin: auto;
    font-family: var(--texto-do-site);
    font-size: var(--tamanho-pr);
}

.texto-02 {
    color: var(--cor-primaria);
    width: 80%;
    margin: auto;
    font-family: var(--texto-do-site);
    font-size: var(--tamanho-pr);
}

.rodape {
    align-items: center;
    padding: 5%;
    background-color: rgb(24, 23, 23);
}

.fim {
    font-size: 100%;
    color: white;
}